.section {
  padding: 50px 0;
  background-color: $c-white;

  .pageHeader--box + .content > & {

    &:first-child {
      
      @include rwd('large-tablet', 'up') {
        padding-top: 150px;
      }
    }
  }

  @include rwd('large-tablet') {
    padding: 10px 0;

    &:first-child {
      padding-top: 10px;
    }

    &:last-child {
      padding-bottom: 10px;
    }
  }

  /* ---
    Styles
  --- */

    &:last-child {
      border-bottom: 1px solid $c-gray-01;
    }

    &--gray {
      background-color: $c-gray-03;

      &:last-child {
        border-bottom: 0;
      }
    }

  /* ---
    Margins
  --- */

    & + & {
      margin-top: -50px;
      padding-top: 0;

      @include rwd('large-tablet') {
        margin-top: -10px;
      }
    }

    & + &--gray,
    &--gray + & {
      margin-top: 0;
      padding-top: 50px;

      @include rwd('large-tablet') {
        margin-top: 0;
        padding-top: 10px;
      }
    }

    &--gray + &--gray {
      margin-top: -50px;
      padding-top: 0;

      @include rwd('large-tablet') {
        margin-top: -10px;
      }
    }

  /* ---
    Header
  --- */

  &__header {
    margin: -20px 0;

    &:before,
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__headerButton {
    float: right;
    margin-top: 41px;

    @include rtl() {
      float: left;
    }
  }

  &__headline {
    padding: 10px 0;
    font-weight: 300;
    font-size: 50px;
    line-height: 1.1;
    color: $c-blue-01;

    &--small {
      font-size: 30px;
      line-height: 1.24;
    }

    @include parent('div', '.section__header') {
      float: left;

      @include rtl() {
        float: right;
      }
    }
  }
}