.contactSection {
  background-color: $c-blue-03;

  &__inner {
    padding: 30px 0 50px 0;
  }

  &__headline {
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 1.24;
    color: $c-white;
    text-align: center;
  }

  &__form {
    max-width: 760px;
    margin: 0 auto;
  }
}