.intranetForm {

  &__inner {
    padding: 40px 0 50px 0;
  }

  &__wrapper {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
  }

  &__title {
    margin-top: 80px;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.5;
    color: $c-blue-01;

    &:first-child {
      margin-top: 0;
    }

    &--large {
      font-size: 30px;
      line-height: 1.34;
    }
  }

  &__desc {
    margin-top: 20px;
    padding: 6px 0;
    font-size: 14px;
    line-height: 1.29;
  }

  &__fields {
    margin-top: 20px;
    padding: 5px 0;

    &:before,
    &:after {
      content: '';
      display: block;
      clear: both;
    }
  }

  &__button {
    margin-top: 50px;
    text-align: center;
  }

  /* ---
    Fields
  --- */

    &__label {
      position: relative;
      display: block;
      margin-top: 20px;
      font-size: 0;
      line-height: 0;

      &:first-child {
        margin-top: 0;
      }

      &--select {

        &:after {
          position: absolute;
          top: 23px;
          right: 0;
          @include icomoon('arrow-down');
          font-size: 6px;
          line-height: 1;
          color: $c-gray-02;
          z-index: 10;

          @include rtl() {
            right: auto;
            left: 0;
          }
        }

        select {
          padding-right: 40px !important;

          @include rtl() {
            padding-right: 20px !important;
            padding-left: 40px !important;
          }
        }
      }

      &--date {
        float: left;
        margin-top: 0;
        margin-left: 30px;

        &:first-child {
          margin-left: 0;
        }

        @include rtl() {
          float: right;
          margin-left: 0;
          margin-right: 30px;

          &:first-child {
            margin-right: 0;
          }
        }

        @include rwd('tablet') {
          float: none;
          width: 264px;
          margin-left: 0;

          @include rtl() {
            margin-right: 0;
          }
        }

        &:after {
          position: absolute;
          top: 16px;
          right: 0;
          @include icomoon('calendar');
          font-size: 20px;
          line-height: 1;
          color: $c-blue-01;
          z-index: 10;

          @include rtl() {
            right: auto;
            left: 0;
          }
        }

        input[type=text] {
          width: 264px !important;
          padding-right: 50px !important;

          @include rtl() {
            padding-right: 20px !important;
            padding-left: 50px !important;
          }
        }
      }
    }

    &__placeholder {
      display: block;
      position: absolute;
      top: 15px;
      left: 0;
      width: 100%;
      font-weight: 300;
      font-size: 15px;
      line-height: 1.4;
      color: $c-black;
      pointer-events: none;
      z-index: 10;
      transition: font-size .3s, line-height .3s, color .3s, transform .3s;

      @include parent('.intranetForm__label', '.intranetForm__label--active') {
        font-size: 10px;
        line-height: 1.7;
        color: $c-gray-01;
        transform: translateY(-20px);
      }
    }

    input[type=text],
    input[type=email],
    input[type=url],
    input[type=tel],
    input[type=number],
    select,
    textarea {
      max-width: 100%;
      padding: 15px 0;
      font-weight: 300;
      font-size: 15px;
      line-height: 1.4;
      color: $c-black;
      background-color: $c-white;
      border-bottom: 1px solid $c-gray-02;
      appearance: none;
      -webkit-text-fill-color: $c-black !important;
      box-shadow: 0 0 0px 1000px $c-white inset !important;
    }

    input[type=text],
    input[type=email],
    input[type=url],
    input[type=tel],
    input[type=number] {
      width: 363px;
    }

    select {

      @include rtl() {
        direction: rtl;
      }
    }

    textarea {
      width: 100%;
      height: 152px;
      resize: vertical;
    }

    input[type=checkbox],
    input[type=radio] {
      display: none;

      & + label {
        position: relative;
        display: block;
        margin-top: 25px;
        padding-left: 26px;
        font-weight: 300;
        font-size: 15px;
        line-height: 1.4;
        cursor: pointer;

        &:first-child {
          margin-top: 0;
        }

        @include rtl() {
          padding-left: 0;
          padding-right: 26px;
        }

        &:before {
          content: '';
          position: absolute;
          top: 2px;
          left: 0;
          width: 16px;
          height: 16px;
          border: 1px solid $c-gray-02;

          @include rtl() {
            left: auto;
            right: 0;
          }
        }

        &:after {
          content: '';
          position: absolute;
          top: 5px;
          left: 3px;
          width: 10px;
          height: 10px;
          background-color: $c-blue-01;
          transform: scale(0);
          transition: transform .3s;

          @include rtl() {
            left: auto;
            right: 3px;
          }
        }
      }

      &:checked + label {

        &:after {
          transform: scale(1);
        }
      }
    }

    &__trueFalse {
      float: right;
      display: inline-block;
      position: relative;
      margin: 3px -23px;
      overflow: hidden;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: calc(50% - 13px);
        width: 26px;
        height: 16px;
        border: 1px solid $c-gray-02;
        border-radius: 10px;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 3px;
        left: calc(50% - 1px);
        width: 10px;
        height: 10px;
        background-color: $c-blue-01;
        border-radius: 50%;
        transition: transform .3s;
      }

      span {
        float: left;
        display: block;
        margin: 0 23px;
        font-weight: 400;
        font-size: 11px;
        line-height: 16px;
        color: $c-gray-02;
        text-transform: uppercase;
        letter-spacing: .22px;
      }
    }

    /*
      &__fields--trueFalse {

        input[type=checkbox],
        input[type=radio] {

          & + label {
            padding-left: 0;

            @include rtl() {
              padding-right: 0;
            }

            &:before,
            &:after {
              display: none;
            }
          }

          &:checked + label {

            .intranetForm__trueFalse {

              &:after {
                transform: translateX(-8px);
              }
            }
          }
        }
      }
    */

  /* ---
    Dropzone
  --- */

    &__dropzone {
      position: relative;
      float: left;
      max-width: 360px;
      margin-top: 20px;
      margin-right: 30px;
      cursor: pointer;

      @include rtl() {
        float: right;
        margin-right: 0;
        margin-left: 30px;
      }

      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
      }
    }

    &__dropzoneWrapper {
      width: 360px;
      height: 142px;
      text-align: center;
      border: 1px dashed $c-gray-01;
      border-radius: 3px;
      overflow: hidden;
    }

    &__dropzoneButton {
      display: inline-block;
      margin-top: 30px;
      padding: 0 34px;
      font-weight: 500;
      font-size: 13px;
      line-height: 40px;
      color: $c-white;
      letter-spacing: .65px;
      background-color: $c-blue-01;
      border-radius: 5px;
    }

    &__dropzoneInfo {
      display: block;
      max-width: 170px;
      margin: 13px auto 0 auto;
      padding: 0 20px;
      font-weight: 300;
      font-size: 10px;
      line-height: 1.6;
      color: $c-gray-02;
    }

    &__file {
      float: left;
      position: relative;
      width: 165px;
      height: 142px;
      margin-top: 20px;
      margin-right: 30px;
      text-align: center;
      background-color: rgba($c-gray-01, .1);
      border-radius: 3px;

      &:first-child {
        margin-right: 0;
        margin-left: 30px;
      }

      &:nth-child(2) {

        @include rwd('tablet') {
          clear: both;
        }
      }

      &:nth-child(3) {
        clear: both;

        @include rwd('tablet') {
          clear: none;
        }
      }

      @include rtl() {
        float: right;
        margin-right: 0;
        margin-left: 30px;

        &:first-child {
          margin-left: 0;
          margin-right: 30px;
        }
      }
    }

    &__fileIcon {
      padding-top: 20px;

      &:before {
        font-size: 77px;
        line-height: 1;
        color: $c-blue-01;
      }
    }

    &__fileName {
      display: block;
      margin-top: 13px;
      padding: 0 20px;
      font-weight: 300;
      font-size: 10px;
      line-height: 1.6;
      color: $c-gray-02;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__fileRemove {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 30px;
      height: 30px;
      text-align: center;
      background-color: $c-blue-01;
      border-radius: 50%;
      z-index: 10;

      &:before {
        @include icomoon('trash');
        font-size: 17px;
        line-height: 30px;
        color: $c-white;
      }
    }

  /* ---
    Error & messages
  --- */

    &__inputError {
      margin-bottom: -10px;
      padding: 5px 0;
      font-weight: 500;
      font-size: 10px;
      line-height: 1.7;
      color: $c-blue-01;
      letter-spacing: 0.25px;
    }

    &__sendMessage {
      padding: 0;
      margin: 15px 0 -5px 0;
      font-weight: 300;
      font-size: 15px;
      line-height: 1.4;
      border: 0;
    }
}